/* CSS designed by  Christopher Suitor, Nana Nimako, Ben Sylvester
 * 
 * Nana and Ben, when you guys work on CSS, I want you to organize it into
 * two categories. If you are doing general CSS, that will apply to multiple
 * pages. I want you to put it into the GENERAL section. If you are making
 * page specific CSS, I want you to use comments to create a section indicating
 * the page that the CSS applies to. If you begin to use complex CSS, please
 * write comments.888888899o
 *
 */
/*****************     Begen GENERAL Section             ************************/
body{
    font: 14pt Arial,Helvetica,sans-serif;
    margin: auto !important;
    max-width: 100% !important;
    padding: 0% 0.5% ;
    background-color: white;
}
/*****************     End GENERAL Section             ************************/

/*****************     Begin Index         *****************************/
.mainmenu{
    font-size: 1.2em;
}

.mainMenu a{
    text-decoration: none;
}
 .mainMenu a:hover{
    transform: scale(1.15);
 }
/*****************     End Index         *****************************/
/*****************     Begin NAV         *****************************/
.navbar{
    background-color: lightcyan;
    margin: auto;
    max-width: 100%;
}

nav ol {
    /*padding-left: 0;*/
}     

nav ol li{
    /*display: inline;
    list-style-type: none;
    padding-right: 3em;
    text-decoration: none;*/
}

.activePage{

}
/*****************     End NAV         *****************************/

/*****************     Begin HEADER         *****************************/
.CNB{
    font-size: 1.6em;
}

/*****************     End HEADER         *****************************/

/*SLIDER*/
#slideShow{
    display: inherit !important;
}
/*END of SLIDER*/
/*****************     Begin FOOTER              ****************************/
footer{
    clear: both;
    background-color: lightgray;
}

.fa {
    padding: .2em;
    font-size: 20px;
    width: 2%;
    text-align: center;
    text-decoration: none;
    border-radius: 20%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #F7507D;
    color: white;
}


/*****************     End FOOTER              ****************************/

/*****************     Begin SWAP                ****************************/     

/*****************     End SWAP                ****************************/     

/*****************     Begin TRINITY                ****************************/     
#smallC{
    width: 20%;
    padding: 0.8%;
    margin: 1% 0.5%;
}
/*****************     End TRINITY                ****************************/     

/*****************     Begin CENTRAL                ****************************/     

/*****************     End CENTRAL                ****************************/     

/*****************     Begin ATHLETICS                ****************************/     

/*****************     End ATHLETICS                ****************************/     

/*****************     Begin REDSTONE                ****************************/     

/*****************     End REDSTONE                ****************************/     
