/* CSS designed by  Christopher Suitor, Nana Nimako, Ben Sylvester
 * 
 * Nana and Ben, when you guys work on CSS, I want you to organize it into
 * two categories. If you are doing general CSS, that will apply to multiple
 * pages. I want you to put it into the GENERAL section. If you are making
 * page specific CSS, I want you to use comments to create a section indicating
 * the page that the CSS applies to. If you begin to use complex CSS, please
 * write comments.888888899o
 *
 */
/*****************     Begen GENERAL Section             ************************/
/**{
    margin: 0 !important;
    padding: 0 !important;
}*/

html{
    height: 100%;
}

body{
    height: 100%;
    font: 14pt Arial,Helvetica,sans-serif;
    margin: auto !important;
    max-width: 100% !important;
    padding: 0%;
    background-color: white;
    
}

main{
    min-height: 100%;
    margin-bottom: 0% !important; 
}

/*article{
    overflow: auto;
}*/
/*****************     End GENERAL Section             ************************/

/*****************     Begin Index         *****************************/
.mainMenu{
    font-size: 2em;
}

.mainMenu a{
    text-decoration: none;
    color: #227C05
}

.mainMenu a:hover{
    transform: scale(2);
}

.hApply:hover, .hExplore:hover{
    transform: scale(2)
}

/*****************     End Index         *****************************/
/*****************     Begin NAV         *****************************/
.navbar{
    background-color: #1E7003;
    margin: auto;
    max-width: 100%;
}

nav ol {
    padding: 1% 3% !important;
}     

nav ol li a{
    /*display: inline;
    list-style-type: none;
    padding-right: 3em;
    text-decoration: none;*/
    color: #ECFF00 !important;
}

.activePage{
    text-shadow: -.06em black;
}
/*****************     End NAV         *****************************/

/*****************     Begin HEADER         *****************************/
.CNB{
    font-size: 1.6em;
}

/*****************     End HEADER         *****************************/

/*SLIDER*/
#slideShow{
    display: inherit !important;
    margin: 0% 0% 1% 0%;
}
/*END of SLIDER*/
/*****************     Begin FOOTER              ****************************/
footer{
/*    position: fixed;
    bottom: 0;*/
    position: relative;
    width: 100%;
    clear: both;
    background-color: lightgray;
}

.fa {
    padding: 1%;
    font-size: 1.5em;
    width: 4%;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    margin: 1%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #F7507D;
    color: white;
}

.fLogo{
    padding: 10% 1%;
}

.divFooter{
    margin: auto !important;
}

.fNav{
    list-style-type: none;
    padding-left: 0% !important;
}

.fNav li{
    padding: 1%;
    margin: .1%;
}
/*****************     End FOOTER              ****************************/

/*****************     Begin SWAP                ****************************/     
#frmRegister{
    width: 55%;
    margin: auto;
    border: 1px solid lightblue;
    border-radius: 1%;
    padding: 2% 10%;
}

.frmLabel{
    width: 20%;
    text-align: left;
    padding: 1%;
}

.hide{
    visibility: hidden !important;
}
/*****************     End SWAP                ****************************/     

/*****************     Begin TRINITY                ****************************/     
.smallC{
    padding: 0.8% !important;
    margin: 1% 1.2% !important;
}

.campus{
    width: 90%;
    margin: auto !important;
}
/*****************     End TRINITY                ****************************/     

/*****************     Begin CENTRAL                ****************************/     

/*****************     End CENTRAL                ****************************/     

/*****************     Begin ATHLETICS                ****************************/     

/*****************     End ATHLETICS                ****************************/     

/*****************     Begin REDSTONE                ****************************/     

/*****************     End REDSTONE                ****************************/   


figure{
    margin: 0 !important;
}

main{
    margin-bottom: 30%;
}
